.content {
    position: absolute;
    width: 79%;
    left: 20.1%;
    top: 0;
    height: 900px;
}

.grit_item {
    position: relative;
    display: flex;
    top: 10%;
    left: 5%;
    width: 95%;
    height: 30%;
}

.grit_user {
    position: relative;
    border: 2px solid rgb(197, 197, 197);
    box-shadow: 0px 2px 4px rgba(169, 169, 169, 0.6);
    padding-top: 2%;
    text-align: center;
    width: 25%;
    height: 95%;
}

.grit_booking{
    position: relative;
    left: 10%;
    border: 2px solid rgb(197, 197, 197);
    box-shadow: 0px 2px 4px rgba(169, 169, 169, 0.6);
    padding-top: 2%;
    text-align: center;
    width: 25%;
    height: 95%;
}

.grit_package{
    position: relative;
    left: 20%;
    border: 2px solid rgb(197, 197, 197);
    box-shadow: 0px 2px 4px rgba(169, 169, 169, 0.6);
    padding-top: 2%;
    text-align: center;
    width: 25%;
    height: 95%;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.number {
    font-family: 'Roboto', sans-serif;
    color: blue;
    font-size: 35px;
    font-weight: 500;
}
.calenders {
    position: relative;
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.6);
    top: 20%;
    left: 5%;
    width: 91%;
}