@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    margin: 30px 50px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.package_item {
    max-width: 86%;
    height: 100%;
    background-color: rgba(252, 97, 48, 0.24);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.341);

}

.package_item:hover {
    box-shadow: 0px 0px 25px #908484;

}

.package_content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 358px);
    grid-gap: 1rem;
}

.package_img {
    box-shadow: 5px 8px 8px rgba(14, 14, 14, 0.25);
    max-width: 100%;
    
}

.package_name {
    position: relative;
    font-size: 25px;
    left: 15px;
    font-weight: 700;
    font-family: IBM Plex Sans Thai;

}