.header{
    color: #505050;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    white-space: break-word;
}

.info{
    color: #505050;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    white-space: break-word;
}