.border-note{
    position: absolute;
    width: 90%;
    top: 86%;
    left: 3%;
}

h1{
    color: #000;
    font-family: IBM Plex Sans Thai;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 5px;
}

.textA{
    display: flex;
    flex-direction: column;
    line-height: 26px;
    margin-left: 5px;
    color: var(--, #505050);
    font-family: IBM Plex Sans Thai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img{
    margin-top: 2px;
    width: 19px;
    height: 18px;
    line-height: 26px;
}

.note{
    display: flex;
    top: 10%;
    height: 140px;
}