.div1 {
    background-color: #ffffff;
    position: relative;
    width: 90%;
    left: 3%;
}

.div2 {
    background-color: #ffffff;
    position: relative;
    width: 90%;
    margin-top: 2%;
    left: 3%;
}

.firstname {
    position: relative;
    font-size: 24px;
    font-weight: 400px;
    color: #7A7A7A;
}
.output2 {
    position: relative;
    top: 2%;
    font-size: 20px;
    font-weight: 400px;
    color: #000000;
}
.input_firstname {
    position: relative;
    display: inline-flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    width: 90%;
    height: 40px;
}

.input_lastname {
    position: relative;
    display: inline-flex;
    left: 40%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    width: 90%;
    height: 40px;
}