@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.divheader {
    position: absolute;
    top: 40%;
    left: 7%;
    width: 500px;
    height: 200px;
}

.text {
    position: relative;
    font-size: 24px;
    font-weight: 400px;
    color: #7A7A7A;
}

.layouts {
    background: #FFFFFF;
    box-shadow: '0px 4px 4px 0px rgba(0, 0, 0, 0.20)';
    border-width: 1px;
    border-style: solid;
    border-color: orange;
    border-radius: 20px;
    width: 500px;
    height: 160px;
    margin-top: 15px;
}

.text2 {
    color: #10b81b;
    margin-left: 20px;
    margin-top: 30px;
    font: 22px \'Roboto\', sans-serif;
    font-weight: 600;
    width: 200;
}

.textprice {
    color: #f70909;
    margin-left: 260px;
    margin-top: -27px;
    font: 700 22px \'Roboto\', sans-serif;
    width: 200px;
}

.inputnumber {
    margin-left: 360px;
    margin-top: -82px;
    height: 30px;
}
.inputnumber2 {
    margin-left: 360px;
    margin-top: 25px;
    height: 30px;
}