.Header {
    background-color: #f7eeee;
    display: flex;
    width: 100%;
    height: 58px;       
}

.menu {
    background-color: #f7eeee;
    position: relative;
    width: 40%;
    margin: -1px 0px 0 550px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;

}

.buttonstyle {
    position: relative;
    background: #FC6130;
    margin: 13px 0 0 -10px ;
    width: 6%;
}