.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  margin: 0.5rem;
  width: 100%;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.3rem;
}

button {
  background-color: #ffffff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
}

button:hover {
  border: 1px solid orange;
}

.divborder {
  position: relative;
  background-color: #fff;
  height: 90px;
  width: auto;
}

.divstyle {
  position: absolute;
  bottom: 0;
  right: 10%;

}

.picture {
  position: relative;
  width: 100%;
}

.rectangleIcon {
  position: relative;
  width: 100%;
  height: 550px;
}

.textsearch {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 10%;
  width: 744px;
  font-size: 96px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.65);
  top: 0;
}

.textsearch2 {
  position: absolute;
  text-align: left;
  margin-top: 130px;
  left: 10%;
  width: 1000px;
  font-size: 45px;
  font-family: 'Noto Sans Thai', sans-serif;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.65);
  top: 0;
}

.search {
  position: absolute;
  max-width: 20%;
  height: 10%;
}

.searchbar {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45px;
  width: 600px;
  box-shadow: 0px 4px 4px rgba(38, 37, 37, 0.65);
  border-radius: 20px
}

input:focus {
  outline: none;
}