.header {
    position: relative;
    width: 20%;
    height: 910px;
    background-color: rgba(249, 217, 217, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.60);
}

.btn_item1 {
    background: rgba(252.01, 97.19, 48.30, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    text-decoration: none;
    margin-top: 58px;
    height: 90px;
}
.btn_item1:hover {
    background-color: rgb(252, 95, 48);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
    margin-left: 90px;
    margin-top: 7px;
    color: #505050;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
    position: absolute;
}

.btn_item2 {
    border-radius: 0;
    text-decoration: none;
    height: 90px;
}