
.review{
    position: absolute;
    color: black;
    border-width:thick;
    font-size: 20px;
    font-family: 'Roboto';
    top: 20%;
    left: 5%;
    padding: 8px;

    
}

.fram{
    position: absolute;
    text-align: center;
    border: 1px #FC6130 solid;
    top: 180%;
    left: 0%;
    width: 440px;
    height: 430px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
}

.review3{
    margin-top: 10px;
    font-weight: 700;
    font-family: IBM Plex Sans Thai;
}

.review4{
    margin-top: 10px;
    font-family: 'Roboto';
}

.submit{
    position: absolute;
    color: white;
    width: 188px;
    height: 57px;
    padding: 7px 12px;
    align-items: center;
    top: 1340%;
    left: 150%;
    border-radius: 29px;
    background: orangered;
    box-shadow: 0px 4px 4px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Roboto';
    border: none;
}